@import url(./base/button.css);
@import url(./base/icon.css);
@import url(./base/input.css);
@import url(./base/select.css);
@import url(./base/table.css);
@import url(./base/page.css);
:root {
    --primary-color: #019160;
    --bnt-hover: #2fbe8e;
    --white-color: #fff;
    --border-color:#bbbbbb;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GoogleSans-Regular;
    font-size: 13px;  
  
}
body {
    color: #000000;
   
}

@font-face {
    font-family: GoogleSans-Regular;
    src: url(../font/GoogleSans-Regular.otf);
}

@font-face {
    font-family: GoogleSans-Medium;
    src: url(../font/GoogleSans-MediumItalic.otf);
}
.align__center{
    text-align: center;
   }
.align__right{
    text-align: right;
   }
